html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: none;
}

.clear{
    clear: both;
}

.container {
    text-align: center;
    position: relative;
}

.content {
    text-align: center;
    display: block;
    margin: 0 auto;
    z-index: 9;
}

.title {
    font-size: 96px;
}

header{
    height: 125px;
}
.header-wrap{
    padding-top: 15px;
    z-index: 100;
    height: inherit;
    background: #fff;
}
.header-wrap-fixed{
    position: fixed;
}
header h1{
    font-size: 30px;
    text-align: left;
    float: left;
    width: 400px;
    color: #115eb7;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
    margin: 15px 0;
}
header h1 span{
    display: block;
}
header .station-link{
    text-decoration: none;
}
header .station-link:hover{
    text-decoration: underline;
}
.logo{
    float: left;
    padding: 0 30px 0 0;
}
.fmka-logo{
    width: 100px;
}

/* Menu */
.menu_btn {
    float: right;
    position: relative;
    width: 30px;
    height: 19px;
    margin: 35px 10px 0 5px;
    cursor: pointer;
}
.fixed-menu{
    position: fixed;
    height: 130px;
    top: 0;
    left: 0;
    right: 0;
}
.menu_btn:hover>i{background:#00adda}
.menu_btn>i{
    display: block;
    width: 30px;
    height: 3px;
    background: #005fab;
    margin: 0 0 5px 0;
    -webkit-transition: all .5s cubic-bezier(.215,.61,.355,1) 0s;
    transition: all .5s cubic-bezier(.215,.61,.355,1) 0s;
}
.menu_btn>i:first-child{
    margin: 0 0 5px;
}
.menu_btn.close_button>i{opacity:0}
.menu_btn.close_button .menu_first, .menu_btn.close_button .menu_second{opacity:1}
.menu_btn.close_button .menu_first{transform:rotate(45deg)}
.menu_btn.close_button .menu_second{transform:rotate(135deg)}
.menu_second{
    position: absolute;
    left: 0;
    top: 8px;
    margin: 0!important;
}
.overlayBox{
    display:block;
    border-top: 3px solid #115eb7;
    position:fixed;
    left:0;
    top:125px;
    width:100%;
    height:100%;
    background:rgba(60, 88, 141, 0.5);
    z-index:-1;
    opacity:0;
    -webkit-transition:opacity 0.3s ease;
    -moz-transition:opacity 0.3s ease;
    -o-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
}
.overlayBox.show{
    opacity:1;
    z-index:9999;
}
.m__menu_holder{
    position:absolute;
    width:300px;
    top:0;
    right: -300px;
    bottom:0;
    background:#fff;
    -webkit-transition:right 0.3s ease;
    -moz-transition:right 0.3s ease;
    -o-transition:right 0.3s ease;
    transition:right 0.3s ease;
}
.overlayBox.show .m__menu_holder{right:0;}
.m__menu{
    position:relative;
    width:300px;
    padding: 0;
}
ul.m__menu .menu-item > a, ul.m__menu .menu-item > a:visited{display:block;height:40px;line-height:40px;padding:0 0 0 20px;color:#005fab;font-size:16px;font-weight:normal;font-family:Verdana;text-decoration:none;-webkit-transition:background .5s cubic-bezier(.215,.61,.355,1) 0s;transition:background .5s cubic-bezier(.215,.61,.355,1) 0s;}
.m__menu_subitem > a:hover,ul.m__menu .menu-item > a:hover, .m__menu_sublist_caption:hover, #sidebar_author a:hover, .wp-tag-cloud a:hover{background:#ebf7fb}
.m__menu li{
    list-style: none;
}
.m__menu li a{
    text-align: center;
}

/* Player */
.topNavFixed{
    top: 125px;
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 10px 0 15px;
    width: 100%;
    background: rgba(237, 249, 255, 1);
    box-shadow: inset 0 -10px 30px -10px rgba(144, 220, 255, 0.9);
}
.topNavFixed>.row>div{
    text-align: center;
}

.stationsList ul{
    margin: 0;
    padding: 0;
}
.stationsList ul li{
    list-style: none;
    text-align: left;
    padding: 7px 0;
    float: left;
}
.stationsList ul li a{
    color: #1E347B;
    text-decoration: none;
}
.sourceName{
    color: #009be3;
    padding-top: 5px;
    font-size: 25px;
    display: inline-block;
    top: 10px;
}
.player{
    margin: 10px 0 30px;
    box-shadow: inset 0 0 15px rgba(0, 155, 227, 0.7);
    border-radius: 5px;
    padding: 15px 0;
}
#play{
    background: url('../images/verstka/play-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 22px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
}
#pause{
    background: url('../images/verstka/pause-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 18px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
    margin-left: 5px;
}
#volume{
    display: inline-block;
    width: 220px;
    padding: 10px 0;
}
.volume-block{
    background: url('../images/verstka/volume-icon.png') no-repeat 35px 12px;
    background-size: 18px;
}

.logo-bl{}
.logo-bl .logo-img{
    width: 100%;
    max-width: 150px;
}
.stationsList ul>li{
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 155, 227, 0.7);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.stationsList ul>li:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/verstka/play-button.png') rgba(0, 155, 227, 0.36) no-repeat center center;
    background-size: 70px;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.logoInPlayer{
    height: 40px;
    margin-right: 30px;
    margin-top: -10px;
}

/* Small devices (mobiles, 350px and less) */
@media (max-width: 350px) {
    .col-xs-6{
        width: 100%;
    }
}

/* Small devices (mobiles, 767px and less) */
@media (min-width: 351px) and (max-width: 550px) {
    .col-xs-6{
        width: 48%;
        margin: 0 1%;
    }
}

/* Small devices (mobiles) */
@media (min-width: 551px) and (max-width: 768px) {
    .col-xs-6{
        width: 31%;
        margin: 0 1.15%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-3{
        width: 23%;
        margin: 0 1%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-3{
        width: 23%;
        margin: 0 1%;
    }
}

/* Medium devices (desktops, 1200px and up) */
@media (min-width: 1201px) {
    .col-lg-2{
        width: 15%;
        margin: 0 0.83%;
    }
}