html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    margin-top: 60px;
}

.content {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 96px;
}

header{
    text-align: center;
}
header h1{
    font-size: 40px;
}

header .station-link{
    text-decoration: none;
}
header .station-link:hover{
    text-decoration: underline;
}

/* Player */
#player_container {
    position: relative;
    background-color:#eee;
    width:418px;
    height:100px;
    border:1px solid #009be3;
}
#player_container  ul#player_controls {
    list-style-type:none;
    padding:0;
    margin: 0;
}
#player_container  ul#player_controls li {
    overflow:hidden;
    text-indent:-9999px;
}
.player_play,
.player_pause {
    display: block;
    position: absolute;
    left:40px;
    top:20px;
    width:40px;
    height:40px;
    cursor: pointer;
}
.player_play {
    background: url("images/spirites.jpg") 0 0 no-repeat;
}
.player_play.different_prefix_example_hover {
    background: url("images/spirites.jpg") -41px 0 no-repeat;
}
.player_pause {
    background: url("images/spirites.jpg") 0 -42px no-repeat;
}
.player_pause.different_prefix_example_hover {
    background: url("images/spirites.jpg") -41px -42px no-repeat;
}
.player_stop {
    position: absolute;
    left:90px;
    top:26px;
    background: url("images/spirites.jpg") 0 -83px no-repeat;
    width:28px;
    height:28px;
    cursor: pointer;
}
.player_stop.different_prefix_example_hover {
    background: url("images/spirites.jpg") -29px -83px no-repeat;
}
.player_progress {
    position: absolute;
    left:130px;
    top:32px;
    background-color: #eee;
    width:122px;
    height:15px;
}
.player_progress_load_bar {
    background: url("images/bar_load.gif")  top left repeat-x;
    width:0;
    height:15px;
    cursor: pointer;
}
.player_progress_load_bar.different_prefix_example_buffer {
    background: url("images/bar_buffer.gif")  top left repeat-x;
}
.player_progress_play_bar {
    background: url("images/bar_play.gif") top left repeat-x ;
    width:0;
    height:15px;
}
.player_volume_min {
    position: absolute;
    left:274px;
    top:32px;
    background: url("images/spirites.jpg") 0 -170px no-repeat;
    width:18px;
    height:15px;
    cursor: pointer;
}
.player_volume_max {
    position: absolute;
    left:346px;
    top:32px;
    background: url("images/spirites.jpg") 0 -186px no-repeat;
    width:18px;
    height:15px;
    cursor: pointer;
}
.player_volume_min.different_prefix_example_hover {
    background: url("images/spirites.jpg") -19px -170px no-repeat;
}
.player_volume_max.different_prefix_example_hover {
    background: url("images/spirites.jpg") -19px -186px no-repeat;
}
.player_volume_bar {
    position: absolute;
    left:292px;
    top:37px;
    background: url("images/volume_bar.gif") repeat-x top left;
    width:46px;
    height:5px;
    cursor: pointer;
}
.player_volume_bar_value {
    background: url("images/volume_bar_value.gif") repeat-x top left;
    width:0px;
    height:5px;
}
#player_playlist_message {
    position: absolute;
    left:0;
    bottom:0;
    width:338px;
    padding:5px 40px 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.4em;
    height:1em;
    background-color:#ccc;
}
#song_title {
    float:left;
    margin:0 5px 0 0;
    padding:0;
    font-weight:bold;
}
.miaow {
    font-size:.8em;
    color:#999;
}
.miaow a:link, a:visited, a:hover, a:focus, a:active {
    color: #009be3;
}

.stationsList ul{
    margin: 0;
    padding: 0;
}
.stationsList ul li{
    list-style: none;
    text-align: left;
    padding: 5px 10px 5px 0;
    float: left;
}
.stationsList ul li a{
    color: #1E347B;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
.sourceName{
    font-family: Arial, sans-serif;
    color: #009be3;
    padding-top: 5px;
    font-size: 25px;
    display: inline-block;
    top: 10px;
}
.player{
    margin: 10px 0 30px;
    box-shadow: inset 0 0 15px rgba(0, 155, 227, 0.7);
    border-radius: 5px;
    padding: 15px 0;
}
#play{
    background: url('../images/verstka/play-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 22px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
}
#pause{
    background: url('../images/verstka/pause-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 18px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
    margin-left: 5px;
}
#volume{
    display: inline-block;
    width: 220px;
    padding: 10px 0;
}
.volume-block{
    background: url('../images/verstka/volume-icon.png') no-repeat 35px 12px;
    background-size: 18px;
}

.logo-bl{
    max-width: 150px;
}
.logo-bl .logo-img{
    width: 150px;
}
.stationsList ul>li{
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 155, 227, 0.7);
    margin-bottom: 15px;
}
.station-name-bl{}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6{
        width: 49%;
        margin-right: 2%;
    }
    .col-sm-6:nth-child(2n){
        margin-right: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col-md-4{
        width: 32%;
        margin-right: 2%;
    }
    .col-md-4:nth-child(3n){
        margin-right: 0;
    }
}