html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: none;
}

.clear{
    clear: both;
}

.container {
    text-align: center;
    position: relative;
    min-height: 100%;
}

.content {
    text-align: center;
    display: block;
    margin: 0 auto;
    z-index: 9;
}

.title {
    font-size: 96px;
}

header{
    height: 125px;
}
.header-wrap{
    padding-top: 15px;
    z-index: 100;
    height: inherit;
    background: #fff;
}
.header-wrap-fixed{
    position: fixed;
}
header h1{
    font-size: 30px;
    text-align: left;
    float: left;
    width: 300px;
    color: #115eb7;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
    margin: 15px 0;
}
header h1 span{
    display: block;
}
header .station-link{
    text-decoration: none;
}
header .station-link:hover{
    text-decoration: underline;
}
.logo{
    float: left;
    padding: 0 20px 0 0;
}
.fmka-logo{
    width: 100px;
}

/* Menu */
.menu_btn {
    float: right;
    position: relative;
    width: 30px;
    height: 19px;
    margin: 35px 10px 0 5px;
    cursor: pointer;
}
.fixed-menu{
    position: fixed;
    height: 130px;
    top: 0;
    left: 0;
    right: 0;
}
.menu_btn:hover>i{background:#00adda}
.menu_btn>i{
    display: block;
    width: 30px;
    height: 3px;
    background: #005fab;
    margin: 0 0 5px 0;
    -webkit-transition: all .5s cubic-bezier(.215,.61,.355,1) 0s;
    transition: all .5s cubic-bezier(.215,.61,.355,1) 0s;
}
.menu_btn>i:first-child{
    margin: 0 0 5px;
}
.menu_btn.close_button>i{opacity:0}
.menu_btn.close_button .menu_first, .menu_btn.close_button .menu_second{opacity:1}
.menu_btn.close_button .menu_first{transform:rotate(45deg)}
.menu_btn.close_button .menu_second{transform:rotate(135deg)}
.menu_second{
    position: absolute;
    left: 0;
    top: 8px;
    margin: 0!important;
}
.overlayBox{
    display:block;
    border-top: 3px solid #115eb7;
    position:fixed;
    left:0;
    top:125px;
    width:100%;
    height:100%;
    background:rgba(60, 88, 141, 0.5);
    z-index:-1;
    opacity:0;
    -webkit-transition:opacity 0.3s ease;
    -moz-transition:opacity 0.3s ease;
    -o-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
}
.overlayBox.show{
    opacity:1;
    z-index:9999;
}
.m__menu_holder{
    position:absolute;
    width:300px;
    top:0;
    right: -300px;
    bottom:0;
    background:#fff;
    -webkit-transition:right 0.3s ease;
    -moz-transition:right 0.3s ease;
    -o-transition:right 0.3s ease;
    transition:right 0.3s ease;
}
.overlayBox.show .m__menu_holder{right:0;}
.m__menu{
    position:relative;
    width:300px;
    padding: 0;
}
ul.m__menu .menu-item > a, ul.m__menu .menu-item > a:visited{
    display:block;
    height:40px;
    line-height:40px;
    padding:0 0 0 20px;
    color:#005fab;
    font-size:16px;
    font-weight:normal;
    text-decoration:none;
    -webkit-transition:background .5s cubic-bezier(.215,.61,.355,1) 0s;
    transition:background .5s cubic-bezier(.215,.61,.355,1) 0s;
}
.m__menu_subitem > a:hover,ul.m__menu .menu-item > a:hover,
.m__menu_sublist_caption:hover, #sidebar_author a:hover, .wp-tag-cloud a:hover{
    background:#ebf7fb;
}
.m__menu li{
    list-style: none;
}
.m__menu li a{
    text-align: center;
}

/* Player */
.topNavFixed{
    top: 125px;
    position: fixed;
    z-index: 10000;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background: rgba(237, 249, 255, 1);
    box-shadow: inset 0 -10px 40px -10px rgba(144, 220, 255, 0.9);
}
.topNavFixed>.row>div{
    text-align: center;
}

.stationsList ul{
    margin: 0;
    padding: 0;
}
.stationsList ul li{
    list-style: none;
    text-align: left;
    padding: 7px 0;
    float: left;
}
.stationsList ul li a{
    color: #1E347B;
    text-decoration: none;
}
.sourceName{
    color: #009be3;
    padding-top: 5px;
    font-size: 25px;
    display: inline-block;
    top: 10px;
}
.player{
    margin: 10px 0 30px;
    box-shadow: inset 0 0 15px rgba(0, 155, 227, 0.7);
    border-radius: 5px;
    padding: 15px 0;
}
#play{
    background: url('../images/verstka/play-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 22px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
}
#pause{
    background: url('../images/verstka/pause-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 22px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
}
#prev{
    background: url('../images/verstka/previous-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 12px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
    margin-right: 15px;
}
#next{
    background: url('../images/verstka/next-button.png') no-repeat;
    background-size: contain;
    border: none;
    padding: 12px;
    outline: none;
    color: transparent;
    font-size: 1px;
    cursor: pointer;
    margin-left: 15px;
}
#prev:disabled, #next:disabled{
    display: none;
}
#volume{
    display: inline-block;
    width: 220px;
    padding: 10px 0;
}
.volume-block{
    background-size: 18px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
img.volume-mute{
    width: 21px;
    margin-top: -17px;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
}
@-moz-document url-prefix() {
    img.volume-mute{
        margin-top: -29px;
    }
}

.logo-bl{}
.logo-bl .logo-img{
    width: 100%;
    max-width: 150px;
}
.stationsList ul>li{
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 155, 227, 0.7);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.stationsList ul>li.stationLi:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/verstka/play-button.png') rgba(235, 247, 253, 0.76) no-repeat center center;
    background-size: 70px;
    opacity: 0.96;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
li.activeStationLi:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/verstka/equalizer.gif') rgba(235, 247, 253, 0.76) no-repeat center center;
    background-size: 80px;
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
li.activeStationLi:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/verstka/pause-button.png') rgba(235, 247, 253, 0.76) no-repeat center center;
    background-size: 70px;
    opacity: 0.92;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
li.errorStation:after{
    content: 'В даний момент станція недоступна';
    color: #c4002e;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(235, 247, 253, 0.76);
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: default;
}

.logoInPlayer{
    height: 40px;
    margin-right: 30px;
    margin-top: -10px;
    border-radius: 3px;
}
.fmka-fix-player-text{
    font-size: 24px;
    text-align: left;
    color: #115eb7;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
}

/* Volume range */
input[type=range] {
    -webkit-appearance: none;
    margin: 9px 0;
    width: 100%;
    background-color: transparent;
    -moz-outline-width: 0;
}
input[type=range]:focus {
    outline: none;
    border: 0;
}
input::-moz-focus-inner {
    border: 0;
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px rgba(0, 128, 173, 0.2), 0px 0px 1px rgba(0, 128, 173, 0.1);
    background: rgba(0, 155, 227, 0.6);
    border-radius: 2px;
    border: 0.2px solid rgba(0, 128, 173, 0.1);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: inset 0 0 10px rgba(0, 155, 227, 0.9);
    border: 1px solid rgba(0, 155, 227, .7);
    height: 24px;
    width: 14px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px rgba(0, 128, 173, 0.2), 0px 0px 1px rgba(0, 128, 173, 0.1);
    background: rgba(0, 155, 227, 0.6);
    border-radius: 2px;
    border: 0.2px solid rgba(0, 128, 173, 0.1);
}
input[type=range]::-moz-range-thumb {
    box-shadow: inset 0 0 10px rgba(0, 155, 227, 0.9);
    border: 1px solid rgba(0, 155, 227, .7);
    height: 22px;
    width: 12px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px rgba(0, 128, 173, 0.2), 0px 0px 1px rgba(0, 128, 173, 0.1);
    background: rgba(0, 155, 227, 0.6);
    border-radius: 2px;
    border: 0.2px solid rgba(0, 128, 173, 0.1);
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: inset 0 0 10px rgba(0, 155, 227, 0.9);
    border: 1px solid rgba(0, 155, 227, .7);
    height: 24px;
    width: 14px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

.page p{
    text-align: left;
    padding: 0 40px;
}

/* Categories navigation */
nav.categories {
    box-shadow: inset 0 0 5px rgba(0, 155, 227, 0.7);
    margin: 5px 0 35px;
    border-radius: 3px;
}
.cat-menu {
    padding: 0 35px;
}
.cat-menu li{
    list-style: none;
    float: left;
    margin: 9px 5px;
}
.cat-menu li a{
    display: inline-block;
    padding: 3px 12px;
}
.cat-menu li a.active{
    box-shadow: inset 0 0 2px rgba(0, 155, 227, 0.4);
    border-radius: 3px;
    background: rgba(0, 155, 227, 0.1);
}
/* End categories navigation */

.mt-75{
    margin-top: 110px;
}

/* Top banner */
.top-banner{
    float: left;
    width: 600px;
}
/* End top banner */

.prefooter{
    height: 60px;
}
footer{
    padding: 20px 0;
    color: #115eb7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Small devices (mobiles, 350px and less) */
@media (max-width: 350px) {
    .col-xs-6{
        width: 100%;
    }
    .fmka-logo {
        width: 80px;
    }
    .logo {
        float: left;
        padding: 0 10px 0 0;
    }
    .sourceName{
        display: none !important;
    }
    .logoInPlayer {
        margin-right: 0;
        margin-top: 0;
    }
    #volume{
        width: 200px;
    }
    .fmka-fix-player-text, .logo-second-line{
        display: none;
    }
    .logo-first-line{
        margin-top: 15px;
    }
    header h1 {
        width: 135px;
        font-size: 28px;
    }
    #player .row .col-xs-4 {
        width: 100%;
        margin: 5px 0 8px;
    }
    #player .row .col-xs-2:first-child {
        display: none;
    }
    #player .row .col-xs-2:nth-child(2) {
        width: 100%;
        margin-bottom: 10px;
    }
    .volume-block {
        text-align: center;
    }
    .top-banner{
        display: none;
    }
}

/* Small devices (mobiles, 767px and less) */
@media (min-width: 351px) and (max-width: 550px) {
    .col-xs-6{
        width: 48%;
        margin: 0 1%;
    }
    .sourceName{
        display: none !important;
    }
    .logoInPlayer {
        margin-right: 0;
        margin-top: 0;
    }
    #volume{
        width: 200px;
    }
    .fmka-fix-player-text, .logo-second-line{
        display: none;
    }
    .logo-first-line{
        margin-top: 15px;
    }
    header h1 {
        width: 150px;
    }
    #player .row .col-xs-4 {
        width: 100%;
        margin: 5px 0 8px;
    }
    #player .row .col-xs-2:first-child {
        display: none;
    }
    #player .row .col-xs-2:nth-child(2) {
        width: 100%;
        margin-bottom: 10px;
    }
    .volume-block {
        text-align: center;
    }
    .top-banner{
        display: none;
    }
}

/* Small devices (mobiles) */
@media (min-width: 551px) and (max-width: 768px) {
    .col-xs-6{
        width: 31%;
        margin: 0 1.15%;
    }
    .sourceName{
        display: none !important;
    }
    .logoInPlayer {
        margin-right: 0;
        margin-top: 0;
    }
    #volume{
        width: 100px;
    }
    .fmka-fix-player-text, .logo-second-line{
        display: none;
    }
    .logo-first-line{
        margin-top: 15px;
    }
    header h1 {
        width: 350px;
    }
    .top-banner{
        display: none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-3{
        width: 23%;
        margin: 0 1%;
    }
    .sourceName{
        display: none !important;
    }
    .logoInPlayer {
        margin-right: 0;
        margin-top: 0;
    }
    #volume{
        width: 150px;
    }
    .fmka-fix-player-text{
        display: none;
    }
    .top-banner{
        display: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-3{
        width: 23%;
        margin: 0 1%;
    }
    header h1 {
        width: 280px;
    }
    .logo {
        padding: 0 10px 0 0;
    }
    .top-banner {
        width: 500px;
    }
}

/* Medium devices (desktops, 1200px and up) */
@media (min-width: 1201px) {
    .col-lg-2{
        width: 15%;
        margin: 0 0.83%;
    }
}